aiodns==3.0.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
arabic-reshaper==2.1.3
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.4
future==0.18.2
future-annotations==1.0.0
html5lib==1.1
idna==3.3
Jinja2==3.0.3
lxml==4.7.1
MarkupSafe==2.0.1
mock==4.0.3
multidict==5.2.0
pycountry==20.7.3
PyPDF2==1.26.0
PySocks==1.7.1
python-bidi==0.4.2
requests==2.27.1
requests-futures==1.0.0
six==1.16.0
socid-extractor>=0.0.21
soupsieve==2.3.1
stem==1.8.0
torrequest==0.1.0
tqdm==4.62.3
typing-extensions==4.0.1
webencodings==0.5.1
xhtml2pdf==0.2.5
XMind==1.2.0
yarl==1.7.2
networkx==2.5.1
pyvis==0.1.9
