reportlab==3.6.11
flake8==5.0.4
pytest==7.1.2
pytest-asyncio==0.16.0;python_version<"3.7"
pytest-asyncio==0.18.2;python_version>="3.7"
pytest-cov==3.0.0
pytest-httpserver==1.0.5
pytest-rerunfailures==10.2
