maigret @ https://github.com/soxoj/maigret/archive/refs/heads/main.zip
pefile==2021.9.3
psutil==5.9.0
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pywin32-ctypes==0.2.0